In [2]:
import numpy as np
import pandas as pd

In [4]:
dataset=pd.read_csv("C:/Users/WELCOME/Desktop/Final Year Project/Formulated Data.csv")

In [5]:
dataset.head()

,Crops,Crop,Crop Year,District Name,Season,Soil,State Name,Type Of Watersource,Type Of Crop,Area,...,THIRUPPUR,THIRUVALLUR,THIRUVANNAMALAI,THOOTHUKUDI,TIRUVARUR,VELLORE,VILLUPURAM,VIRUDHUNAGAR,Water Required Min,Waterrequired Max
0,rice,Rice,2008,ARIYALUR,Kharif,Alluvia or loamy and clayey soil,Tamil Nadu,both,cereals,24574,...,0,1,1,1,1,1,1,1,900,2500
1,groundnut,Groundnut,2008,ARIYALUR,Whole Year,Well-drained sandy loam or sandy clay loam soil,Tamil Nadu,both,oil seeds,14528,...,1,1,1,1,0,1,1,1,500,700
2,maize,Maize,2008,ARIYALUR,Whole Year,temperate podzols to the leached red soils of ...,Tamil Nadu,both,millets,9797,...,1,1,1,1,1,1,1,1,500,800
3,onion,Onion,2008,ARIYALUR,Whole Year,Any Loamy,Tamil Nadu,both,vegetables,21,...,1,1,1,1,1,1,1,1,350,550
4,ragi,Ragi,2008,ARIYALUR,Whole Year,"red, black, sandy, loamy and shallow black soils.",Tamil Nadu,both,millets,13,...,1,1,1,1,1,1,1,1,700,1200

In [12]:
dataset.drop(['Crop'],axis=1,inplace=True)

In [13]:
dataset.drop(['State Name'],axis=1,inplace=True)

In [14]:
dataset.head()

,Crops,Crop Year,District Name,Season,Soil,Type Of Watersource,Type Of Crop,Area,ARIYALUR,CAUVERY,...,THIRUPPUR,THIRUVALLUR,THIRUVANNAMALAI,THOOTHUKUDI,TIRUVARUR,VELLORE,VILLUPURAM,VIRUDHUNAGAR,Water Required Min,Waterrequired Max
0,rice,2008,ARIYALUR,Kharif,Alluvia or loamy and clayey soil,both,cereals,24574,0,0,...,0,1,1,1,1,1,1,1,900,2500
1,groundnut,2008,ARIYALUR,Whole Year,Well-drained sandy loam or sandy clay loam soil,both,oil seeds,14528,1,0,...,1,1,1,1,0,1,1,1,500,700
2,maize,2008,ARIYALUR,Whole Year,temperate podzols to the leached red soils of ...,both,millets,9797,1,1,...,1,1,1,1,1,1,1,1,500,800
3,onion,2008,ARIYALUR,Whole Year,Any Loamy,both,vegetables,21,1,1,...,1,1,1,1,1,1,1,1,350,550
4,ragi,2008,ARIYALUR,Whole Year,"red, black, sandy, loamy and shallow black soils.",both,millets,13,1,1,...,1,1,1,1,1,1,1,1,700,1200